{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	<h2>{{ page.title }}</h2>
	
	{% if page.slug == "blog" %}
		{{ page.content }}
		<ul class="blogList">
			{% for article in articles|get_article_by_type("BlogEntry") %}
				<li><span><a href="/{{ article.url }}">{{ article.title }}</a>: {{ article.summary }}. Posted on <strong>{{ article.date|strftime("%B %d, %Y") }}</strong></span></li>
			{% endfor %}
		</ul>
	{% elif page.slug == "projects" %}
		{{ page.content}}
		<ul>
			{% for article in articles|get_article_by_type("ProjectDescription") %}
			<li><span><a href="/{{ article.url }}">{{ article.title }}</a></span></li>
			{% endfor %}
		</ul>
	{% else %}
		{{ page.content }}
	{% endif %}
{% endblock %}
